@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
  background-color: #f0f4f8;
  overflow-x: hidden;
}

body.dark {
  background-color: #17153b;
  color: #f7fafc;
}

header {
  background-color: #402e7a;
}

body.dark header {
  background-color: #17153b;
}

form {
  background-color: white;
}

body.dark form {
  background-color: #2d3748;
  border: 2px solid #4a5568;
}

footer {
  background-color: #402e7a;
}

body.dark footer {
  background-color: #2c5282;
}

.animated-path {
  stroke-dasharray: 300; /* Adjust this value depending on path length */
  stroke-dashoffset: 300;
  animation: draw 10s ease forwards;
}

/* Keyframes for drawing the path */
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 4s linear infinite;
}
